<section class="skill-section" id="skill">
  <div class="container">
    <h2 class="section-title" data-aos="fade-up" data-aos-offset="10">Skills</h2>
    <div class="card" data-aos="fade-up" data-aos-offset="100" data-aos-anchor-placement="top-bottom">
      <div class="row">
        <div class="col-lg-6 col-md-12 p">
          <div class="card-body skill-body"><!-- Skill bars injected by JS --></div>
        </div>
        <div class="col-lg-6 col-md-12 skill-about">
          <div class="card-body">
            <div class="h4 mt-0 title">Skill Description</div>
            <div class="desc"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
