<section class="about-section" id="about">
  <div class="container">
    <h2 class="section-title" data-aos="fade-up" data-aos-offset="10">Basic Info</h2>
    <div class="card" data-aos="fade-up" data-aos-offset="100">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">About Me</div>
            <span class="me"></span>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">Personal Details</div>

            <div class="row"><div class="col-sm-4"><strong>Name:</strong></div><div class="col-sm-8 gg name"></div></div>
            <div class="row mt-2"><div class="col-sm-4"><strong>Gender:</strong></div><div class="col-sm-8 sex"></div></div>
            <div class="row mt-2"><div class="col-sm-4"><strong>Age:</strong></div><div class="col-sm-8 age"></div></div>
            <div class="row mt-2"><div class="col-sm-4"><strong>Phone:</strong></div><div class="col-sm-8 phone"></div></div>
            <div class="row mt-2"><div class="col-sm-4"><strong>Email:</strong></div><div class="col-sm-8 email"></div></div>
            <div class="row mt-2"><div class="col-sm-4"><strong>Address:</strong></div><div class="col-sm-8 address"></div></div>
            <div class="row mt-2"><div class="col-sm-4"><strong>Desired Position:</strong></div><div class="col-sm-8 for-work"></div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
