<section class="others-section" id="others">
  <div class="container" data-aos="fade-up" data-aos-offset="100">
    <h2 class="section-title">Road Map</h2>
    <h4>There are three stages in life, learning, earning, and giving.</h4>
    <h4>This is not a skills roadmap, but a reflection of how I think about growth and work.</h4>
    <div class="col-sm-12 col-xs-12">
      <div class="content-timeline-border">
        <div class="timeline-left"><span></span><ul class="timeul"></ul></div>
        <div class="timeline-right"><span></span><ul class="timeul"></ul></div>
      </div>
    </div>
  </div>
</section>
